.jd-audio-controls {
  &.footer {
    &.segment {
      background-color: #1b1c1d;
      border-radius: 0;
      bottom: 0;
      margin-bottom: 0;
      position: fixed;
      width: 100%;
    }
  }
}
